{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Info about our company</h1>
     <p>
    <strong>EchoNest</strong> is a cozy corner for thoughts, reflections, and meaningful moments.
    It’s a space where voices are heard and ideas gently echo in the hearts of others.
  </p>
  <p>
    Whether it’s a small spark of inspiration, a personal musing, or a moment worth remembering — EchoNest is here to capture it.
  </p>
  <p>
    This is our shared space to express, connect, and simply be heard.
  </p>



  </div>



{% endblock %}